@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-main;
}

.slick-list {
    margin-left: 15px !important;
}

.slick-slide div {
    margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px !important;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.second__font {
    font-family: "Merriweather", serif;
}

@media screen and (max-device-width: 450px) {
    .slick-list {
        margin-left: 0 !important;
    }

    .slick-prev {
        left: 10px !important;
        z-index: 500 !important;
    }

    .slick-next {
        right: 30px !important;
        z-index: 500 !important;
    }
}